$color-grey: #999;
$color-green: green;
$none: none;

.bouton {
  margin: 1em;
  position: fixed;
  background-color: white;
}

.btnCallNone {
  cursor: not-allowed;
  outline: $none;
  background-color: $color-grey;
  padding: 1em;
  border: solid $color-grey;
  border-radius: 2em;
}

.btnCall {
 outline: $none;
 background-color: $color-green;
 padding: 0.5em;
 border: solid $color-green;
 border-radius: 5em;
}

@media screen and (max-width: 600px) {
	.nom {
		display: $none;
	}
}
