$color-grey: #999;
$color-green: green;
$none: none;

.bouton {
	margin: 1em;
}

.btn {
	padding: 1em;
	border-radius: 5em;
	outline: $none;
	width: 40%;
}

.btnCallNone {
	cursor: not-allowed;
	background-color: $color-grey;
	border: solid $color-grey;
}

.btnCall {
	background-color: $color-green;
	border: solid $color-green;
}
