body {
	margin: 0 auto;
	background-color: #efefef;
	font-size:18px;
}

.content {
	margin-left:auto;
	margin-right: auto;
	width:95%;
}

.white {
	color: #fff;
}

.size {
	font-size: 1rem;
}

.center {
	text-align: center;
}