$color-IOT: #6e358b;

.header {
	background-color: $color-IOT;
	width:100%;
	margin:0 auto;
	padding: 0.1vh;
	box-shadow: 0 0 1em black;
	display: flex;
}

.size {
	font-size: 1rem;
}

.logoIot {
	width: 10%;
	height: 10%;
}