#menu {
	position: absolute;
	margin-left: 8em;
	margin-top: 2em;

}

@media screen and (max-width: 1383px) { 

	#menu {
		position: absolute;
		margin-left: 7em;
		margin-top: 2em;

	}
}

@media screen and (max-width: 1151px) {
	
	#menu {
		position: absolute;
		margin-left: 6em;
		margin-top: 2em;

	}

}

@media screen and (max-width: 921px) {

	#menu {
		position: absolute;
		margin-left: 5em;
		margin-top: 2em;

	}

}

@media screen and (max-width: 659px) {

	#menu {
		position: absolute;
		margin-left: 4em;
		margin-top: 2em;

	}
	
}

@media screen and (max-width: 565px) {

	#menu {
		position: absolute;
		margin-left: 3em;
		margin-top: 2em;

	}
}

@media screen and (max-width: 375px) {

	#menu {
		position: absolute;
		margin-left: 2em;
		margin-top: 2em;

	}
}