$background-white: #fff;
$color-grey: #999;
$color-IOT: #6e358b;
$vertical: block;
$none: none;

.Select {
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.labelSelect {
  font-weight: bold;
}

.selectTel {
	margin: 0 auto;
	width: 60%;
    color: $color-grey;
    font-weight: 700;
    background-color: $background-white;
    display: $vertical;
    padding: 0.3em;
    position: relative;
    cursor: pointer;
}

.vertical-align {
	display: $vertical;
}

.item {
	background-color: $background-white;
	border-style: $none;
	outline: $none;
	cursor: pointer;
}