$whiteColor: white;

.Select {
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.vertical-align {
	display: block;
}

.selectTel {
	padding: 0.3em;
	background-color: $whiteColor;
	border-color: #6e358b;
	outline: none; 
	cursor: pointer;
}

.item {
	background-color:$whiteColor;
	border-style: none;
	outline: none;
	cursor: pointer;
}
