.Bouton {
	text-align: center;
	margin-bottom: 1em;
}

#BtnCall {
	background-color: green;
	padding: 0.5em;
	border: solid green;
	color:#FFF;
	border-radius: 5em;
	font-size: 2rem;
}

@media screen and (max-width: 600px) {
	#nom {
		display: none;
	}
}

.range-input[type=range] {
  -webkit-appearance: none;
  width: 98%;
  margin: 8.3px 0;
  margin-top:6vh;
}
.range-input[type=range]:focus {
  outline: none;
}
.range-input-rdc[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #6e358b;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.range-input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 14px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}

.range-input-floor[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #fff, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #fff;
}

.range-container {
	width:30%;
	height:16vh;
}