.Bouton {
	text-align: center;
	margin: 1em;
}

#BtnCall {
	background-color: green;
	padding: 0.5em;
	border: solid green;
	color:#FFF;
	border-radius: 5em;
	font-size: 2rem;
}

@media screen and (max-width: 600px) {
	#nom {
		display: none;
	}
}