.header {
	margin-top: 1em;
	width: 100%;
}

.slide {
	position: absolute;
	height: 210vh;
	width: 110vw;
	margin-left: -5%;
	background-color: black;
	z-index: 2;
	margin-top: 1%;
}

.displayBlock {
	display:block;
}

.displayNone {
	display:none;
}