.header {
	margin-top: 1em;
	width: 100%;
}

.slide {
	position: absolute;
	display: block;
	height: 100vh;
	width: 100%;
	background-color: black;
	z-index: 2;
	margin-top: 1%;
}

.displayBlock {
	display:block;
}

.displayNone {
	display:none;
}