.header {
	position: relative;
	margin-top: 1em;
}

.slide {
	position: absolute;
	display: block;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.displayBlock {
	display:block;
}

.displayNone {
	display:none;
}
