@import './header.css';
@import './menu.css';
@import './select.css';
@import './map.css';
@import './bouton.css';

body {
	margin: 0 auto;
}

.content {
	margin-left:auto;
	margin-right: auto;
	width:95%;
}

.white {
	color:#fff;
}