.reunion{
	fill: #ffbbd6;
}

.enterprise {
	fill : #84B1ED;
}

.rdc {
	fill : grey;
}

.join {
	fill:  #228b22;
}

.sanitaire{
	fill: #f8ecc9;
}

.animate {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-width:10;
  animation: dash 15s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1;
  }
}


.svg{
	margin-top:0;
	padding-top:0;
}

.green-line {
	stroke: green; 
	stroke-width: 0.5;
}

.white-border {
  stroke: #000; 
  stroke-width:"0.5";
}

.black-stroke {
  stroke:#000;
}

.little-stroke {
  stroke-width:0.5;
}

.map-container {
  margin: 2vh;
  padding: 2vh;
  box-shadow: 3px 3px 1em #656565;
  background-color: #fff;
}

.titleMap {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

#colorPurple {
  background-color: #6e358b;
}
