.stage {
  margin: 1em;
  display: inline-block;
}

.background-white {
	fill: red;
}

.reunion{
	fill: #ffbbd6;
}

.enterprise {
	fill : #84B1ED;
}

.rdc {
	fill : #FFEEE4;
}

.join {
	fill: #228b22;
}

.sanitaire{
	fill: #f8ecc9;
}

.animate {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: dash 15s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.svg{
	margin-top:0;
	padding-top:0;
}

.green-line {
	stroke: green; 
	stroke-width: 0.5;
}

.white-border {
  stroke: #000; 
  stroke-width:"0.5"

}