.Select {
	text-align: center;
	padding-top: 16vh;
	padding-bottom: 3vh;
}

.selectTel {
	height: 1.5em;
	background-color: white;
	border-color: #6e358b;
	font-size: 1.5rem;
	border-radius: 0.3em;
	outline: none;  
	padding-left: 1em;

}

.item {
	background-color:white;
	border-style: none;
}