.Select {
	text-align: center;
	padding-top: 15vh;
	padding-bottom: 2vh;
}

.selectTel {
	height: 1.5em;
	background-color: white;
	border-color: #6e358b;
	font-size: 1.5rem;
	border-radius: 0.3em;
	outline: none; 
	cursor: pointer;


}

.item {
	background-color:white;
	border-style: none;
	outline: none;
	cursor: pointer;
}