.menu {

	float: left;
	width: 100%;
	height: 10em;
	margin: 0 auto;
	background-color: white;
	text-align: center;
}

#title {
	margin: 0 auto;
	/*text-align: center;*/
	color: white;
}
#imgMenu {

	position: relative;
	height: 100%;
	margin-left: auto;
	margin-right: auto;


}